@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    /* outline: 1px solid red; */
    text-decoration: none !important;
   
}

@font-face {
    font-family:"Helvetica" ;
    src: url(../font/Helvetica.woff);
}
.ff-Helvetica{
    font-family: Helvetica;
}
.pb-30 {
    padding-bottom: 30px;
}
.pt-32{
    padding-top: 32px;
}
 .scrolling::-webkit-scrollbar{
     height: 8px;   
     width: 10px;
}

.position-absoluate95{
    position: absolute;
    left: 0;
    top: 0;

}

.gap-10{
    gap: 10px;
}
.btn-1{
    position: relative;
    border-radius: 2px;
    padding: 12px 24px;
    background: transparent;
    border: 0 !important;
    transition: all 500ms linear;
}

.btn-1::before {
    position: absolute;
    border-radius: 2px;
    content: "";
    inset: 0;
    padding: 0 0 1px 0 !important;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.btn-1:hover {
    box-shadow: 0px 0px 12px 0px rgba(235, 211, 162, 1);
}
.max-w-40{
    max-width: 40px;
}
.btn-2:hover {
    box-shadow: 0px 0px 12px 0px rgba(235, 211, 162, 1);
}
.playr-btn{
    padding: 4px 12px;
    border-radius: 4px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    border: transparent;
    transition: all 300ms linear;
    color:var(--color-pwhite);
}

.playr-btn:hover{
    background: linear-gradient(146.79deg, #E0B764 97.77%, #F4EAD8 0%);
    color:var(--color-pwhite);
}

.hoverline {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.hoverline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    background:var(--color-sgold);
    transition: all 300ms linear;
}

.hoverline:hover::after {
    width: 100%;
}

.textanimation {
    transition: all 200ms linear;
}

.textanimation:hover {
    opacity: unset;
}
.pb-44 {
    padding-bottom: 44px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-60 {
    padding-bottom: 60px;
}

.courserpointer {
    cursor: pointer;
}

.ff-Helvetica {
    font-family: 'Helvetica';

}
.ff-Helvetica2 {
    font-family: "EB Garamond", serif;
}

.pt-50 {
    padding-top: 50px;
}

.pb-84 {
    padding-bottom: 84px;
}

.max-w-1140 {
    max-width: 1140px;
}

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

.pt-90 {
    padding-top: 40px;
}

.backgroundimg1 {
    background-image: url(../images/Herobg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.backgroundimg77 {
    background-image: url(../images/aplybgpic77.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.backgroundimg33 {
    background-image: url(../images/crbgpic33.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.backgroundimg34 {
    background-image: url(../images/FAQbgpic34.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.minas-icon {
    display: none;
}

.accordionItem.active {
    .minas-icon {
        display: block;
    }

    .plus-icon {
        display: none;
    }
}

.backgroundimg24 {
    background-image: url(../images/reptbgpic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.backgroundimg23 {
    background-image: url(../images/bgimg7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



.backgroundimg22 {
    background-image: url(../images/midbgpic6.png);
    background-repeat: no-repeat;
    background-size: 200% 200%;
    
}
.pb-30{
    padding-bottom: 30px;
}

.backgroundimg {
    background-image: url(../images/bgpic1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.backgroundimg {
    background-image: url(../images/Footerbgpic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.color-gradient {
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pt-150 {
    padding-top: 60px;
}

.TabBTns.active {
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    box-shadow: 0px 4px 20px 0px #B6B6B640;
    border: 1px solid transparent;
}

.card_3 {
    padding: 17px 28px;
    box-shadow: 0px 4px 20px 0px #B6B6B640;
    border: 1px solid transparent;
    border-radius: 8px;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
}
.card_2 {
    padding: 18px 32px 18px 32px;
    /* border-image-source: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%); */
    max-width: 485px;
    cursor: pointer;
    border-radius: 8px;
    border-left: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%) border-box;
}
.pt-40{
    padding-top: 40px;
}
.mb-16{
    margin-bottom: 16px;
}
.card_4 {
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 16px;
    max-width: 1000px;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
}

.card_5 {
    padding: 18px;
    border-radius: 5.6px;
    box-shadow: 0px 0px 14.139328956604004px 2.8278656005859375px #D8D8D840;
}

.tab_right {
    position: absolute;
    height: 100%;
    right: 0;
    display: none;
    border: 0;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background: linear-gradient(90deg, #F4EAD8 0%, #E0B764 97.77%) border-box;
}

.tabbtn.active {
    .tab_right {
        display: block;
    }
}

.tabbtn.active p {
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.tabbtn.active svg path {
    fill: #EFDBB6 !important;
}

.ACC_img {
    top: -31%;
    left: 0;
}

.accordionItem {
    height: 80px;
    overflow: hidden;
    padding: 24px 18px 24px;
    border: 1px solid transparent;
    border-radius: 16px;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    border-radius: 5px;
}

.accordion-para {
    padding-top: 40px;
    
}

.accordionItem.active {
    height: unset !important;
}

.accordionItem.active {
    border: 1px solid transparent;
    border-radius: 16px;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    border-radius: 5px;
    cursor: pointer;
   
}

.minus-sign {
    display: none;
}

.accordionItem.active {
    .minus-sign {
        display: block;
    }

    .plus-sign {
        display: none;
    }

}

.upperline {
    height: 1px;
    background:var(--color-lghtgray);
    margin-left: -12px;
    max-width: 804px;
}

.upline {
    top: 15%;
    right: 12%;
}

.nav_box {
    padding: 24px;
    border-top: 1px;
    border-right: 1px;
    border-left: 0;
    border-bottom: 1px;
    cursor: pointer;
    border-style: solid;
    border-color:var(--color-lghtgray);
    border-radius: 2px;
    position: relative;
}

.nav_box1 {
    border-top: 1px solid var(--color-lghtgray) !important;
}

.tabbtn.active {
    /* .tab_right {
        display: block;
    } */
}

.tabbtn.active p {
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.tabbtn.active svg path {
    fill: #EFDBB6 !important;
}

.tabbtn.active {
    border-right: 0;
}

.tab_content div {
    display: none;
}

.tab_content .active {
    display: block;
}


.max-w-519 {
    max-width: 519px;
}

.pt-24 {
    padding-top: 24px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-10 {
    padding-bottom: 10px;
}

.padding-14 {
    padding: 14px;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.pt-16 {
    padding-top: 16px;
}

.pt-84 {
    padding-top: 84px;
}

.pb-69 {
    padding-bottom: 69px;
}

.max-w-405 {
    max-width: 405px;
}

.max-w-436 {
    max-width: 436px;
}

.pb-32 {
    padding-bottom: 32px;
}


.max-w-558 {
    max-width: 558px;
}

.box6 {
    border: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
}

.mb-20 {
    margin-bottom: 20px;
}

.mycontainer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;

}

.box7 {
    max-width: 1000px;
    border: 1px solid;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 14.139328956604004px 2.8278656005859375px #D8D8D840;
    border: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
}

.gap-16 {
    gap: 16px;
}

.max-w-255 {
    max-width: 255px;
}

.pb-48 {
    padding-bottom: 48px;
}

.pb-120 {
    padding-bottom: 120px;
}

.max-w-524 {
    max-width: 524px;
}

.max-w-536 {
    max-width: 536px;

}

.max-w-422 {
    max-width: 422px;
}

.max-w-662 {
    max-width: 662px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pt-117 {
    padding-top: 117px;
}

.max-w-377 {
    max-width: 377px;
}

.pb-32 {
    padding-bottom: 32px;
}

.first-box {
    /* border: 1px solid transparent; */
    background-clip: padding-box;
    background-color:var(--color-pwhite);
    border-radius: 16px; 
   padding: 35px 16px 35px 16px;
    box-shadow: 0px 4px 20px 0px #B6B6B640;
    margin-top: 50px;  
}

.first-box::before {
    position: absolute;
    border-radius: 16px;
    content: "";
    inset: 0;
    padding:  1px  !important;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.pb-38{
    padding-bottom: 38px;
}
.pt-32{
    padding-top: 32px;
}
.pb-91 {
    padding-bottom: 91px;
}
.pb-718 {
    padding-bottom: 178px;
}
.container{
    max-width: 1140px !important;
}
.max-w-324 {
    max-width: 324px;
}

.box2 {
    border-radius: 24px;
    padding: 24px;
    border: 0.5px solid #514837;
    /* background-color:var(--color-gold); */
    height: 100%; 
    transition: all 400ms linear;

}
.box2:hover{
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    transition: 400ms; 
}

.box5 {

    border-radius: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 32px;
    padding-right: 32px;
    border: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%) !important;
    box-shadow: 0px 0px 20px 4px #D8D8D840;
    border-left: 2px solid #E0B764;
}

.max-w-185 {
    max-width: 185px;
}

.pb-20 {
    padding-bottom: 20px;
}
.pt-40 {
    padding-top: 40px;
}

.position-absolute6 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.max-w-212{
    max-width: 212px;
}
.max-w-421{
    max-width: 421px;
}
.max-w-200{
    max-width: 200px;
}
.gap-12 {
    gap: 12px;
}

.pb-28 {
    padding-bottom: 28px;
}

.max-w-573 {
    max-width: 573px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-40 {
    margin-bottom: 40px;
}

.gap-183 {
    gap: 183px;
}

.max-w-485 {
    max-width: 485px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-8 {
    padding-bottom: 8px;
}

.max-w-325 {
    max-width: 325px;
}

.max-w-944 {
    max-width: 944px;
}
.max-w-948{
    max-width: 948px;
}
.padding-130 {
    padding: 130px;
}
.pt-40{
    padding-top: 40px;
}
.pt-30{
    padding-top: 30px;
}

.box3 {
    border-radius: 16px;
    padding: 17px 28px;
    max-width: 1000px;
    width: 100%;
    background:var(--color-pwhite);
    box-shadow: 0px 0px 14.139328956604004px 2.8278656005859375px #D8D8D840;
    border: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    border: 1px solid var(--color-vwhite);

}

.vidobodr {
    border: 16px solid transparent;
    border-radius: 6px;
    background:
        linear-gradient(140.31deg, rgba(198, 177, 139, 0.6) -25.54%, rgba(255, 187, 0, 0.144) 54.57%, rgba(255, 164, 0, 0.6) 136.37%) padding-box,
        linear-gradient(140.31deg, rgba(198, 177, 139, 0.6) -25.54%, rgba(255, 187, 0, 0.144) 54.57%, rgba(255, 164, 0, 0.6) 136.37%) border-box;
  
}


.gap-2{
    gap: 2px;
}
.max-w-948{
    max-width: 948px;
}
.pt-29{
    padding-top: 29px;
}
.pb-20 {
    padding-bottom: 20px;
}

.max-w-380 {
    max-width: 380px;
}

.max-w-575 {
    max-width: 575px;
}

.position-absolute1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.position-absolute2 {
    position: absolute;
    top: 0;
    left: 0;
}

.position-absolute3 {
    position: absolute;
    right: 0;
    top: 230px;

}
.position-absolute{
    position: absolute;
    bottom: 0;
    right: 0;
}

.max-w-537 {
    max-width: 537px;
}

.max-w-695 {
    max-width: 695px;
}

.box4 {
    border: 2px solid;
    border-radius: 2px;
    border-bottom: 2px solid var(--color-drkgray);
}

.pb-4 {
    padding-bottom: 4px;
}

.gap-20 {
    gap: 20px;
}

.max-w-566 {
    max-width: 566px;
}
.max-w-61{
    max-width: 61px;
}
.max-w-534 {
    max-width: 534px;
}

.position-absolute5 {
    position: absolute;
    right: 0;
    top: 0;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.lin1 {

    border-top: 0.5px solid var(--color-dgray);
}

.mt-69 {
    margin-top: 69px;
}

.max-w-364 {
    max-width: 364px;
}

.max-w-338 {
    max-width: 338px;
}

.max-w- {
    max-width: 340px;
}

.max-w-762 {
    max-width: 762px;
}
.pt-20{
    padding-top: 20px;
}
.max-w-709 {
    max-width: 709px;
}

.borderight {
    border-right: 2px solid;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);

}

.max-w-364 {
    max-width: 364px;
}

.max-w-338 {
    max-width: 338px;
}

.max-w-392 {
    max-width: 392px;
}

.pt-14 {
    padding-top: 14px;
}
.pb-14{
    padding-bottom: 14px;
}

.mini-boxten {
    background: var(--color-pwhite);
    box-shadow: 0px 0px 15.4375px 3.0875000953674316px #D8D8D840;
    border-radius: 4px;
    padding: 10px 20px;
}

.max-w-432 {
    max-width: 432px;
}

.position-absolute98 {
    position: absolute;
    bottom: 3%;
    right: 3%;
}
.position-absolute99{
    position: absolute;
    left: 3%;
    bottom: 3%;
}

.btn-nine {
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    border-style: none;
}

.borderbottom {
    border-bottom: 1px solid var(--color-lghtgray);
    padding: 24px;
    border-radius: 2px;
}

.max-w-650 {
    max-width: 650px;
}

.max-w-730 {
    max-width: 730px;
}

.max-w-558 {
    max-width: 558px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-48 {
    margin-top: 48px;
}

.box8 {
    border: 1px solid;
    border: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    padding-top: 18px;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 24px;
    box-shadow: 0px 0px 20px 4px #D8D8D840;
}

/* --------------------------------------------timeline------------------------------------------------------------ */
.timeline-item {
    position: relative;
    padding: 0 0 47px 53px;
    margin-left: 25px;
}

.left-line {
    top: 0;
    left: 0;
    position: absolute;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box !important;
    height: 100%;
}

.left-line-time {
    top: 0;
    /* position: absolute; */
    left: 0;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    height: 100%;
}

.border_reduce .left-line-time {
    height: 0 !important;
}

.left-line-time {
    top: 0;
    left: 0;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;

    height: 100%
}

.border_reduce .left-line-time {
    height: 0 !important;
}

.timeline-date {
    margin-bottom: 12px;
}

.border-bottom-gray {
    border-bottom: 1px solid var(--color-sgry);
}

.timeline-item .timeline-icon {
    position: absolute;
    left: -20px;

}

.timeline-line {
    position: absolute;
    left: 0;
}

.pt-120 {
    padding-top: 30px;
}

.pb-64 {
    padding-bottom: 64px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pt-44 {
    padding-top: 44px;
}

/* ----------------------------------secondtimeline-------------------------- */
.pt130 {
    padding-top: 130px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-64 {
    margin-top: 64px;

}


.mt-20{
    margin-top: 20px;
}
.gold-line {

    border: 8px solid;

    border-image-source: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);


}

.pb-22 {
    padding-bottom: 22px;
}

.border-1 {
    padding: 17px 20px;
    border: 1px solid var(--color-lghtgray);
}

.position-absolute55 {
    position: absolute;
    height: 100%;
    right: 0;
    display: none;
    border: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background: linear-gradient(90deg, #F4EAD8 0%, #E0B764 97.77%) border-box;

}

.timeline-item2 {
    position: relative;
    padding: 0 0 47px 53px;
    margin-left: 25px;

}

.left-line2 {
    top: 0;
    position: absolute;
    left: 0;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    height: 100%;

}
.position-absolute{
    position: absolute;
    left: 0;
    top: 0;
}
.position-absolute77{
    position: absolute;
    right: 0;
    top: 50%;

}
.position-absolute70{
    position: absolute;
    right: 0;
    top: 20%;
}
.position-absolute69{
    position: absolute;
    left: 0;

}

.border_reduce .left-line {
    height: 0 !important;

}
.pt-50 {
    padding-top: 50px;
}

.py-30 {
    padding: 30px;
}

.gap-36 {
    gap: 36px;
}
.pt-48 {
    padding-top: 48px;
}

.timeline-date2 {
    margin-bottom: 12px;

}

.border-bottom-gray {
    border-bottom: 1px solid var(--color-sgry);
}

.timeline-item2 .timeline-icon2 {
    position: absolute;
    left: -20px;

}

.timeline-line2 {
    position: absolute;
    left: 0;
}


.box7 {
    max-width: 1000px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 14.139328956604004px 2.8278656005859375px #D8D8D840;
    border: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    background: var(--color-pwhite);
    border: 1px solid var(--color-vwhite);

}

.crd-container{
    margin-right: 30px;
    margin-left: 30px;
}

.w-1000{
    max-width: 1000px;
}
.my-container2{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

 

.thrd-crd{
    border: 5.6px;
    box-shadow: 0px 0px 14.139328956604004px 2.8278656005859375px #D8D8D840;
    padding: 18px;
}
.forth-crd{
    border: 5.6px;
    box-shadow: 0px 0px 14.139328956604004px 2.8278656005859375px #D8D8D840;
    padding: 18px; 
}

.position-absolute8 {
    position: absolute;
    left: -4%;
    top: 61%;
}

.leftbtn { 
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-lgold);
    
    background:var(--color-pwhite);
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;

}

.leftbtn:hover {
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
color: var(--color-pwhite);

}
.leftbtn:hover svg path {
    fill:var(--color-pwhite);
}

.rghtbtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-lgold);
    /* padding: 14px; */
    background:var(--color-pwhite);
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
}

.position-absolute9 {
    position: absolute;
    right: -4%;
    top: 61%;

}
.rghtbtn:hover {
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    color:var(--color-pwhite);
}
.rghtbtn:hover svg path {
    fill:var(--color-pwhite);
}
.pt-130 {
    padding-top: 60px;
}

/* -----------timeline------------- */
@media(min-width:992px) {
    .timeline-item2 {
        margin-left: 204px;
    }

    .timeline-item2 .timeline-date2 {
        position: absolute;
        left: -19%;
        text-align: right
    }

    .timeline-date2 {
        margin-bottom: 0;
    }

    .timeline-item2 .timeline-content2 {
        padding: 0;
        background-color: transparent
    }

}

@media(min-width:992px) {
    .timeline-item {
        margin-left: 120px;
    }

    .timeline-item .timeline-date {
        position: absolute;
        left: -12%;
        text-align: right
    }
    .timeline-date {
        margin-bottom: 0;
    }

    .timeline-item .timeline-content {
        padding: 0;
        background-color: transparent
    }
}

@media (min-width:576px) {
    .first-box {
        transform: translateY(-40px);
        margin-top: 0;
       padding: 44px 38px 50px;
    }

    .pt-90 {
        padding-top: 90px;
    }

    .pt-120 {
        padding-top: 120px;
    }

    .pb-100 {
        padding-bottom: 100px;
    }

    .pb-130 {
        padding-bottom: 130px;
    }
    

    .pt-139 {
        padding-top: 139px;
    }

    .pt-100 {
        padding-top: 100px;
    }
    .pt-100 {
        padding-top: 100px;
    }
    .pt-130 {
        padding-top: 130px;
    }
    .pt-150 {
        padding-top: 150px;
    }
}
@media (max-width:992px) {
    .menuList {
        flex-direction: column;
        justify-content: center;
        display: flex !important;
        position: fixed;
        align-items: center !important;
        top: 0;
        right: -100%;
        width: 100%;
        min-height: 100vh;
        /* height: 100%; */
        z-index: 10;
        background: var(--color-bg-black) !important;
        transition: all 400ms linear;
    }

    .menuList.active {
        right: 0;
    }

    .menuIcon {
        height: 25px;
        width: 30px;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        z-index: 100;
        right: 3%;
        position: absolute;
    }

    .bar1 {
        width: 100% !important;
        /* margin-left: 14px !important; */
    }

    .bar3 {
        width: 100% !important;
    }

    .menuIcon span {
        height: 3px;
        z-index: 44;
        width: 100%;
        display: block;
        background-color: var(--color-dsgld);
    }

    .menuIcon.active .bar2 {
        opacity: 0 !important;
    }

    .menuIcon.active .bar1 {
        transform: translateY(8px) rotate(45deg);
        width: 24px !important;
        margin-left: 0 !important;
    }

    .menuIcon.active .bar3 {
        transform: translateY(-8px) rotate(-45deg);
        width: 24px !important;
    }


    .bar1,
    .bar2,
    .bar3 {
        display: block;
        width: 29px;
        height: 3px;
        margin: 6px 0;
        transition: all 0.3s ease-in-out;
        /* background-color: var(--color-offwhite); */
        
    }
    .img-box {
        border: 1px solid rgba(0, 0, 0, 0.20);
        width: 119px;
        padding: 19px 27px 14px 28px;
    }


}
